/* MEDIA QUERIES permettent de ré-arranger la disposition du site en fonction des tailles de navigateur en px - cf. viewportsize.com - 3 tailles suffisent 
on peuy faire une feuille de style standard et une css rien que pour le reponsive de base la zone est rouge, si l'écran est de plus 768px et jusqu'à 992px la zone est orange. */

.zone-adaptative{
    background: red;
    color: white;
    padding: 10px;
}